
div.Header {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

span.logo-container {

}

span.header-options-container {
  margin-left: auto;

  > ul.header-options-list {
    display: flex;
    align-items: center;
    list-style: none;

    > li.header-option {
      margin-left: 1.2em;
      color: rgba($color: (#ffffff), $alpha: 0.650);
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}

li.header-option > * {
  color: inherit;
  text-decoration: none;
}