
div.Header {
  display: flex;
  align-items: center;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #F4F4F4;

    > div.header-logo-container {
      
      > img.logo {
        width: 60px;
      }
    }
  
    > div.header-options-container {
      margin-left: auto;
  
      > ul.header-option-list {
        display: flex;
        align-items: center;
        list-style: none;

        > li.header-list {
          margin-left: 1.2em;

          &:hover {
            color: gray;
            cursor: pointer;
          }
        }

      }
  }
}