
div.Home {
  > div.landing-section {
    padding: 4em;
    background: linear-gradient(93.41deg, #000080 -6.82%, rgba(0, 0, 128, 0.55) 103.64%);

    > div.content {
      width: 600px;

      > h2.headline {
        color: white;
        font-size: 36px;
      }

      > p.description {
        margin-top: 1.2em;
        color: white;
        text-align: justify;
      }

    }
  }

}